#contacts-container {
    padding-left: 100px;

    .header {
        font-size: 18px;
        font-weight: bold;
        background-color: aliceblue;
        margin-top: 2px;
        padding: 10px;
    }

    .table-container,
    .form-container {
        
        table {

            tbody {

                tr {
                    :first-child {
                        padding-right: 24px;
                    }

                    input[type='checkbox'] {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    .form-container {
        tr {
            display: flex;

            td:not(:first-child) {

                input,
                select {
                    width: 80%;
                    height: 28px;
                    padding: 0 !important;
                }

                img {
                    vertical-align: top;
                    margin-right: 10px;
                    cursor: pointer;
                    &.disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .contacts-footer {
        padding: 10px;

        .link {
            color: #004ab9;
            cursor: pointer;

            &:hover {
                color: #1e0097;
            }
        }
    }

}