#process-info-container {
    padding-left: 100px;

    .header {
        font-size: 18px;
        font-weight: bold;
        background-color: aliceblue;
        margin-top: 2px;
        padding: 10px;
    }

    .details {
        display: flex;
        justify-content: space-evenly;
        padding-left: 200px;
        padding-top: 25px;
        padding-bottom: 25px;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .form {
        padding: 10px;
        background-color: #f2f2f2;

        form {
            display: flex;
            flex-direction: row;

            .form-column {
                width: 32%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: 100px;

                .form-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 5px 0;

                    select,
                    input {
                        width: 200px;
                    }

                    .required {
                        &::before {
                            color: red;
                            content: '*';
                        }
                    }

                    .text-disabled {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}