<ng-template #content let-modal>
  <div class="modal-header" dir="rtl">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <b>קצת על הפרויקט ועל הנחות העבודה שעליהן הוא מבוסס:</b>
    <ul>
      <li>הפרויקט מורכב מקומפוננטות, שירותים, פייפים, דיירקטיבס, ממשקים וולידציות.</li>
      <li>המידע שמגיע לUI מגיע משירות מידע מקומי שמאתחל את השדות ואת ערכיהם.</li>
      <li>במידול הפרויקט הוחלט להשתמש בשירות טקסט שמחזיק בתוכו את הכיתובים השונים שבהם נעשה שימוש באפליקציה.</li>
      <li>ה-UI תוכנן כדי להתאים כמה שאפשר לזה שהובא במסמך הדרישות.</li>
      <li>בפרויקט נעשה שימוש בטפסים (forms), אם כי עקב אי הבנה מוחלטת של הדרישה במסמך הדרישות, השימוש נעשה בצורה טיפה
        שונה ממה שהיה אמור להיעשות, וזאת בשל בלבול קל שחל בקריאת המסמך.</li>
      <li> ההבדל הנ"ל צפוי לגרום לכך שסיבוכיות הפרויקט תשתנה, והעמידה בשאר הדרישות תהיה קשה הרבה יותר (משום שהן מותאמות
        לתצורה שונה במקצת), ועל כן בחלק מהמקומות בוצעה דרישה בשינוי קל:</li>
      <li>למשל, הוולידציה של איש קשר מועדף - אינה מתבטאת במעמד הוספת איש הקשר, אלא רק בזמן שמעוניינים ללחוץ על כפתור
        המשך. הכפתור לא מאופשר ומוצגת הודעת שגיאה בצידו.</li>
      <li>רענון תהליך - מאפס את הטופס שנמצא במקטע ריכוז מידע בתהליך. מכיוון שזהו בעצם הטופס היחיד שרלוונטי בכל הדף.</li>
      <li>המקטע ריכוז אנשי קשר והטבלה שבמקטע אנשי קשר אינם חלק מהטופס עצמו, אם כי הם מקיימים אינטראקציות עם הטופס.</li>
      <li>הוספת איש קשר אפשרית רק פעם אחת בכל זמן. הכוונה - כדי להוסיף עוד איש קשר יש לשמור את השורה הנוכחית. </li>
      <li>איפוס אנשי קשר משאיר רק את המבוטחים המועדפים. ולא את כל המועדפים. כלומר, אם יש איש קשר מועדף שהוא אינו מבוטח,
        אלא למשל סוכן, הוא יימחק (וזאת על פי דרישה במסמך הדרישות, שאפשר כמובן לתקן ביתר קלות אם יוסבר אחרת).</li>
      <li>לכל שאלה נוספת או בירור נוסף - אודה אם תפנו אלי ואשמח לענות</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{ closeBtnText }}</button>
  </div>
</ng-template>